<div class="grid place-items-center h-screen text-center dark:text-gray-100">
  <div class="space-y-4">
      <h1 class="text-8xl font-bold"><i class="fa-solid fa-triangle-exclamation"></i>4<span class="text-red-500">0</span>4</h1>
      <h2 class="text-2xl">La pagina solicitada no ha sido encontrada</h2>
      <button class="font-bold text-xl rounded cursor-pointer text-white bg-gradient-to-r from-red-500 to-black p-2" (click)="GotoHomePage()"><i class="fa-solid fa-chevron-left fa-beat mr-2"></i>Volver a la pagina de inicio</button>
  </div>
</div>

