
 <h2
 class="text-center text-3xl mt-5 p-5 w-fit mx-auto font-bold  bg-clip-text text-transparent bg-gradient-to-b from-blue-400 to-purple-500 ">
 Títulos avalados por el ministerio de educación.</h2>

 <div class="flex flex-wrap justify-center">


   <span *ngFor="let estudio of $dataEstudios | async" class="w-full sm:w-1/2 md:w-2/3 lg:w-2/4 xl:w-1/4 p-4">
     <p
     class="mt-4 text-center px-3 lg:text-xl xl:text-2xl dark:text-gray-100 font-bold dark:font-normal font-family-Open-Sans">
     {{estudio.estudio}}
    </p>
    <div class="image-container" >
      <svg class="loader animate-spin mx-auto my-auto h-5 w-5 text-black" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
        <circle class="opacity-25" cx="12" cy="12" r="10" stroke="currentColor" stroke-width="4"></circle>
        <path class="opacity-75" fill="currentColor" d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"></path>
      </svg>
    <img (load)="onImageLoad($event)" [src]="estudio.imagen" alt="" class="rounded mx-auto bg-blue-400 shadow-2xl">
    </div>
  </span>


</div>
